/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	margin: 0px;
	margin-top: -16px;
	font-family: sans-serif;
	background-color: #EEEEEE;
}
div.header {
	background-color: #999999;
	height: auto;
	min-height: 40px;
	float: left;
	width: 100%;
	/*border-style: solid;
	border-color: #555555; */

}

div.appname {
	float:left;
	height: 40px;
	margin-left: 1%;
}

div.signin {
	float: right;
	height: 40px;
	vertical-align: middle;
	margin-right:14px;
	padding-left: 8px;
	padding-right: 8px;
	border-style: solid;
	border-color: #555555;
	border-top: none;
	border-bottom: none;
	border-radius: 22px;
}

div.signin:hover {
	background-color: #DDDDDD;
}

div.navbar {
	float:left;
	height: auto;
	background-color: #BBBBBB;
	width: 100%;
}

div.tab {
	background-color: #dddddd;
	width: 10%;
	min-width: 80px;
	margin-left:3.5%%;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	border-bottom: 0px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	float:left;
}



h1 {
	font-family: sans-serif;
	vertical-align: middle;
	margin-top: 3px;

}

h2 {
	clear:both;
}

h3 {
	float: left;
	text-align: center;
	margin: 0px;
	margin-left: 18px;
}

a.navigation {
	color: #222222;
	text-decoration: none;
	width: 60px;
}

a.navitem {
	text-decoration: none;
	margin-right: 4px;
	padding-left:1%;
	padding-right:1%;
	color: #222222;
}

a.navitem:hover {
	background-color: #999999;
	color: #DDDDDD;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
p.navigation {
	vertical-align: middle;
	margin-top: 10px;
}

div.boxy {
	background-color: #DDDDDD;
	margin: 1%;
	margin-top:0px;
	float:left;
	border-radius: 12px;
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	width:98%%;
}

div.infobox {
	background-color: #AAAAAA;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	margin: 12px;
	margin-right:0px;
}

div.infobox:hover {
	background-color: #AAAAFF;
}